ekf_filter_node:
  ros__parameters:

    frequency: 50.0
    sensor_timeout: 0.1
    two_d_mode: true

    publish_tf: true
    publish_acceleration: false

    map_frame: "map"
    odom_frame: "odom"
    base_link_frame: "base_link"
    world_frame: "map"

    # --------------------------------
    # PX4 POSITION
    # --------------------------------
    odom0: "/fmu/out/vehicle_local_position"
    odom0_config: [
      true, true, false,     # x, y, z
      false, false, false,   # roll, pitch, yaw
      true, true, false,     # vx, vy, vz
      false, false, false,   # wx, wy, wz
      false, false, false    # ax, ay, az
    ]
    odom0_differential: false
    odom0_queue_size: 5

    # --------------------------------
    # PX4 ATTITUDE
    # --------------------------------
    imu0: "/fmu/out/vehicle_attitude"
    imu0_config: [
      false, false, false,   # x, y, z
      true, true, true,      # roll, pitch, yaw
      false, false, false,   # vx, vy, vz
      true, true, true,      # wx, wy, wz
      false, false, false    # ax, ay, az
    ]
    imu0_nodelay: true
    imu0_differential: false
    imu0_queue_size: 10

    # --------------------------------
    # GAZEBO IMU
    # --------------------------------
    imu1: "/imu"
    imu1_config: [
      false, false, false,   # x, y, z
      false, false, false,   # roll, pitch, yaw
      false, false, false,   # vx, vy, vz
      true, true, true,      # wx, wy, wz
      true, true, true       # ax, ay, az
    ]
    imu1_nodelay: false
    imu1_differential: false
    imu1_queue_size: 10

    # --------------------------------
    # OUTPUT
    # --------------------------------
    use_control: false
    print_diagnostics: true

    dynamic_process_noise_covariance: true
